@using BlogApplication.Models.Posts
@model BlogApplication.Models.Posts.Post

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var relatedPosts = (List<Post>)ViewData["related_posts"]; // Cast the list
}


@section Styles {
    <link rel="stylesheet" href="~/css/details.css" />
}

<div class="col-md-12">
    <div class="col-md-7">
        <h1>@Model.Title</h1>
        <p class="modified-date">Last updated on @ViewData["modified_date"]</p>
        <div class="content px-5">
            @Html.Raw(Model.Content)
        </div>
    </div>

    <div class="col-md-5">
        <h2>Featured Articles</h2>
        @foreach (var related in relatedPosts)
        {
            <a href="#">@related.Title</a>
        }
        <h2>Topic Categories</h2>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
