<!-- Setup the page model -->
@model BlogApplication.Models.BlogDetailsViewModel

<!-- Set the page data up -->
@{
    ViewData["Title"] = "Blog Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
   // var relatedPosts = (List<Post>)ViewData["related_posts"]; // Cast the list
}

<!-- Styles section-->
@section Styles {
    <link rel="stylesheet" href="~/css/details.css" />
}

<div class="col-md-12">
    <div class="col-md-7">
        <!-- Setting the title for the blog -->
        <h1>@Model.Post.Title</h1>

        <!-- Last updated / modified date, which we set in the view model -->
        <p class="modified-date">Last updated on @Model.ModifiedDate</p>

        <!-- Raw content from the blog within the view model. -->
        <div class="content px-5">
            @Html.Raw(Model.Post.Content)
        </div>
    </div>

    <div class="col-md-5">
        <h2>Featured Articles</h2>
        <!-- Looping through all related posts as well which we set in the view model. -->
        @foreach (var related in Model.RelatedPosts)
        {
            <a href="#">@related.Title</a>
        }
        <h2>Topic Categories</h2>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Post.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
