@model BlogApplication.Models.BlogIndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Blog Index</h1>

<div class="container">
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Short Description</th>
                    <th>Description</th>
                    <th>Meta</th>
                    <th>Url Slug</th>
                    <th>Posted On</th>
                    <th>Published</th>
                    <th>Edit Blog</th>
                    <th>View Blog</th>
                </tr>
            </thead>

            <tbody>
                @foreach (BlogApplication.Models.Posts.Post post in Model.Posts)
                {
                <tr>
                    <td>@post.Title</td>
                    <td>@post.ShortDescription</td>
                    <td>@post.Description</td>
                    <td>@post.Meta</td>
                    <td>@post.UrlSlug</td>
                    <td>@post.PostedOn</td>
                    <td>@post.Published</td>
                    <td><a href="/blog/edit/@post.Id">Edit Blog</a></td>
                    <td><a href="/blog/@post.UrlSlug">View Blog</a></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>