<!-- Setting up the model -->
@model BlogApplication.Models.BlogIndexViewModel

<!-- Setting the relevant page data -->
@{
    ViewData["Title"] = "All Blogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Importing the datatable css -->
@section Styles{
    <link rel="stylesheet" href="~/lib/datatables/datatable.css" />
}

<h1>Blog Index</h1>

<div class="container">
    <div class="row">
        <table class="all-blogs-table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Short Description</th>
                    <th>Description</th>
                    <th>Meta Title</th>
                    <th>Meta Description</th>
                    <th>Url Slug</th>
                    <th>Posted On</th>
                    <th>Published</th>
                    <th>Category</th>
                    <th>Tags</th>   
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>View</th>
                </tr>
            </thead>

            <tbody>
                <!-- 
                    We're looping through the posts that are part of the model
                    We're casting them to the Post model as well.
                    -->
                @foreach (BlogApplication.Models.Posts.Post post in Model.Posts)
                {
                <tr>
                    <td>@post.Title</td>
                    <td>@post.ShortDescription</td>
                    <td>@post.Description</td>
                    <td>@post.MetaTitle</td>
                    <td>@post.MetaDescription</td>
                    <td>@post.UrlSlug</td>
                    <td>@post.PostedOn.ToShortDateString()</td>
                    <td>@post.Published</td>

                    <!-- If a category has been set then we display the name -->
                    <th>@(post.Category is null ? "Not Set" : post.Category.Name)</th>

                    <!-- If the tags have been set then we concat them to a string. -->
                    <th>@(post.PostTags is null ? "Not Set" : String.Join("#", @post.PostTags))</th>

                    <td><a href="/blog/edit/@post.Id">Edit Blog</a></td>
                    <td><a href="/blog/delete/@post.Id">Delete Blog</a></td>
                    <td><a href="/blog/@post.UrlSlug">View Blog</a></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Importing the datatable javascript, as well as setting our table to be a data table. -->
@section Scripts{
    <script src="~/lib/datatables/datatable.js"></script>
    <script>
        $(document).ready(function () {
            $('.all-blogs-table').DataTable();
        });
    </script>
}